{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django DF</title>
    <link rel="stylesheet": href="{% static 'css/styles.css' %}">
</head>
<body>
    <ul>
        <li>fundamentos Python</li>
        <li>fundamentos redes</li>
        <li>fundamentos nuvem</li>
        <li>fundamentos IA</li>
        <li>fundamentos Data Science</li>
        <li>fundamentos Django</li>
    </ul>

    <h1>Django DF</h1>
    <h5>Comunidade Django do Distrito Federal</h5>
    
    <br>
    
    {% block content %}

    {% endblock %}
    {% include 'motorartigos/partials/_footer.html' %}

</body>
</html>