{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Artigos</title>
    <link rel="stylesheet": href="{% static '/css/styles.css' %}">
</head>
<body>
    <h1>O melhor site de Django, IA e Data Science do Brasil!</h1>
    <h3>Desenvolvido por Marcos Vinicius Santos</h3>

    <p>Este é um projeto sendo desenvolvido como parte do curso Python com Django na instituição de ensino SENAI.</p>

</body>
</html>