{% load static %}
<footer class="footer py-4 border-top border-dark-light mt-5" style="background-color: #180f1e;">
        <div class="container d-flex flex-column flex-md-row justify-content-center align-items-md-center gap-3">
            <div class="text-center">
                <h6 class="m-0 text-white fw-bold tracking-tight">Vinni DevBlog
                    <span class="text-white mx-1" style="opacity: 0.85;">®</span> <span class="text-secondary-custom">2026</span>
                </h6>
                <p class="m-0 text-secondary mt-1 lh-sm quote-text">
                    Orgulhosamente desenvolvido por Marcos V. Santos
                </p>
            </div>
        </div>
</footer>