{% load static %}

    <nav class="navbar navbar-dark bg-dark-custom pt-4">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="navbar-brand fw-bold fs-4 text-white">DevBlog <span class="text-secondary fs-5 fw-normal">Django</span></span>
            <span class="badge rounded-pill badge-status px-3 py-2">Mapeamento de Modelos Django Ativo</span>
        </div>
    </nav>

    <header class="container my-4 text-secondary">
        <p class="fs-5 max-w-text">Descubra artigos profundos criados por especialistas e líderes de transformação. Filtre pelo seu eixo ou procure termos de interesse.</p>
    </header>

    <section class="container mb-5">
        <div class="search-box p-3 rounded d-flex align-items-center">
            <span class="text-secondary me-3">🔍</span>
            <input type="text" id="searchInput" class="form-control border-0 text-black shadow-none" placeholder="Pesquisar..">
        </div>
    </section>

    <section class="container mb-5">
        <h5 class="text-white fw-bold mb-3">Eixos de Tecnologia</h5>
        <div class="d-flex flex-wrap gap-2">
            <button class="btn btn-filter active"
                    data-filter="todos">
                Todos os artigos
            </button>

            <button class="btn btn-filter"
                    data-filter="mobile">
                Mobile
            </button>

            <button class="btn btn-filter"
                    data-filter="programação">
                Programação
            </button>

            <button class="btn btn-filter"
                    data-filter="frontend">
                Front-end
            </button>

            <button class="btn btn-filter"
                    data-filter="devops">
                DevOps
            </button>

            <button class="btn btn-filter"
                    data-filter="ux">
                UX & Design
            </button>

            <button class="btn btn-filter"
                    data-filter="datascience">
                Data Science
            </button>

            <button class="btn btn-filter"
                    data-filter="ia">
                Inteligência Artificial
            </button>
        </div>
    </section>