body{
    background-color: rgb(51, 40, 63)
}

h1, h5, p {
    color: white
}

ul {
    color: white;
}

img {
    width: 8.7%;
}

.rodape{
    height: 23px;
    color: white;
    margin-top: 45px;
    padding-top: 5px;
    padding-left: 6px;
}