/* Configurações Gerais do Tema Dark */
body {
    background-color: #221329;
    color: #ffffff;
    font-family: system-ui, -apple-system, sans-serif;
}

.bg-dark-custom {
    background-color: #180e1f;
}

.border-dark-light {
    border-color: #ffffff;
}

.max-w-text {
    max-width: 600px;
    color: #ffffff;
}

.text-secondary {
    color: #ffffff !important;
    padding-bottom: 10px !important;
}

/* Badge Superior */
.badge-status {
    background-color: #512c63;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 0.75rem;
}

/* Input de Busca */
.search-box {
    background-color: #512c63;
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* Filtros / Eixos */
.btn-filter {
    background-color: #221329;
    border: 1px solid #606060;
    color: #ffffff;
    font-size: 0.85rem;
    border-radius: 20px;
    padding: 6px 16px;
    transition: all 0.3s ease;
}

.btn-filter:hover {
    background-color: #432552;
    color: #fff;
    border-color: #ffffff
}

.btn-filter.active {
    background-color: #512c63;
    color: #ffffff;
    border-color: #ffffff;
}

/* Botões de navegação carrossel */
.btn-nav {
    background-color: #180f1e;
    border: 1px solid #ffffff;
    color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
    line-height: 28px;
}

/* Estilização dos Cards */
.card-custom {
    background-color: #3c2c44;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-custom:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card-thumb {
    height: 160px; /* mesma altura dos thumbs */
    object-fit: cover;
}

/* Cores das Badges dos Cards */
.bg-danger-custom { background-color: #ef4444; font-size: 0.7rem; }
.bg-warning-custom { background-color: #f59e0b; font-size: 0.7rem; }
.bg-success-custom { background-color: #10b981; font-size: 0.7rem; }
.text-primary-custom { color: #b67dd1; }

/* Placeholders das Imagens dos Cards com os tons da imagem */
.thumb-gradient {
    background: linear-gradient(135deg, #ec4899, #8b5cf6, #3b82f6);
}

.thumb-mockup {
    background: linear-gradient(135deg, #1e293b, #475569);
}

.thumb-dashboard {
    background: linear-gradient(135deg, #064e3b, #022c22);
}

/* Elementos Internos do Card */
.avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #8342a1;
    border-radius: 50%;
    text-align: center;
    font-size: 0.65rem;
    line-height: 24px;
    font-weight: bold;
}

.text-xs {
    font-size: 0.75rem;
    color: #ffffff;
}